@page
@model AliveStoreTemplate.Pages.categoryModel
@{
    ViewData["Title"] = "category";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

 @*category 分類頁*@
<article class="page category">
    <div class="content-con">
        <h2 class="page-tit" id="pageCategoryName"></h2>
        <!--filter 分類篩選-->
        <section class="filter">
            <section class="filter-menu" id="MenuSubPos">
                <a id="btnCategory" class="btn-category"><i class="icon-cate"></i>商品分類</a>
                <a href="#" id="ProductCount"></a>
                @*<ul class="menu-category">*@
                    @*<li><a href="category" class="active"><em>SONY</em></a></li>*@
                @*</ul>*@
            </section>
            <section class="filter-rank">
                <a href="#" class="active"><i class="icon-star"></i>新品</a>
                <a href="#">價格<i class="icon-price"></i></a>
            </section>
            <section class="filter-category" id="FilterSubPos">
               @* <ul>
                    <li><a href="category" class="active">SONY</a></li>
                </ul>*@
            </section>
        </section>
        <!--/filter 分類篩選-->
        <!--products 產品列表-->
        <section class="products" id="productZone">
            @*<ul class="list-prod">
                <li>
                    <div class="prod">
                        <a href="product" class="prod-photo" style="background-image: url(img/ill_prod1.png);"></a>
                        <section class="prod-info">
                            <p class="prod-cate">手机</p>
                            <a href="product" class="prod-name">产品名称</a>
                            <p class="prod-intro">产品说明产品说明产品说明</p>
                            <p class="prod-price">
                                <span class="price-orignal">500</span>
                                <span class="price-discount">300</span>
                            </p>
                            <a href="#" class="btn-addto"></a>
                        </section>
                    </div>
                </li>
            </ul>*@
        </section>
        <!--/products 产品列表-->
        <!--pager 页次-->
        <section class="pager">
            @*<asp:Literal runat="server" ClientIDMode="Static" ID="PageList"></asp:Literal>*@
            <a href="?p=">&lt;</a>
            <span>1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="?p=">&gt;</a>
        </section>
    </div>
</article>

<script>
    //取得主分類ID
    let getUrlString = location.href;
    let url = new URL(getUrlString);
    //當前分類
    var prodCateId = url.searchParams.get('prodCateId')
    //商店名稱
    var merchantId = "alive"

    var categoryName = ""

    $(function(){
        ////取得主分類ID
        //let getUrlString = location.href;
        //let url = new URL(getUrlString);
        //var prodCateId = url.searchParams.get('prodCateId')

        //var merchantId = "alive"
        //取得subcategory
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Category/GetChildCategoryByFatherId?merchantId=" + merchantId +"&prodCateId=" + prodCateId,
            //data:prodCateId,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetChildCategoryByFatherId", response)
                if(response != null){
                    //MenuSubPos
                    let subcategoryBar = $(`<ul class="menu-category" ></ul>`)

                    response.forEach(x =>{
                        let subcategory = $(`<li><a onclick="goCategory()" data-value="${x["Id"]}">${x["Name"]}</a></li>`)

                        subcategoryBar.append(subcategory);
                    })
                    $("#MenuSubPos").append(subcategoryBar)

                    //FilterSubPos
                    let ulSubcategory = $(`<ul></ul>`)

                    response.forEach(x =>{
                        let liSubcategory = $(`<li><a onclick="goCategory()" data-value="${x["Id"]}">${x["Name"]}</a></li>`)

                        ulSubcategory.append(liSubcategory);
                    })
                    $("#FilterSubPos").append(ulSubcategory)
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })

        //分類標題
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Category/GetProdCateDetail?merchantId=" + merchantId +"&prodCateId=" + prodCateId,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetProdCateDetail", response)
                if(response != null){
                    let title = $(`<em>${response.Name}</em>`)
                    $("#pageCategoryName").append(title)

                    categoryName = response.Name
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })

        //當前分類總數
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Product/GetProductCountByProdCateId?merchantId=" + merchantId +"&prodCateId=" + prodCateId,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetProductCountByProdCateId", response)
                if(response != null){
                    $("#ProductCount").html("總數:" + response)
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })

        GetProductFunc(1, 12)


    })

    //切換頁面到categoryByprodCateId
    function goCategory(){
        let $this = $(event.target)
        let prodCateId = $this.data("value")
        window.location.href = "Category?prodCateId="+prodCateId
    }

        //當前分類頁商品
    function GetProductFunc(page, size){
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Product/GetProductByProdCateId?merchantId=" + merchantId +"&prodCateId=" + prodCateId + "&page=" + page + "&size=" + size,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetProductByProdCateId", response)
                if(response != null){
                    $("#productZone").empty();
                    let ulProductList = $(`<ul class="list-prod"></ul>`)
                    response.forEach(x =>{
                        let liProduct = $(`
                            <li>
                                <div class="prod">
                                    <a href="product" class="prod-photo" style="background-image: url(img/ill_prod1.png);"></a>
                                    <section class="prod-info">
                                        <p class="prod-cate">${categoryName}</p>
                                        <p class="prod-name">${x["SubTitle"]}</p>
                                        <p class="prod-intro">${x["SubTitle"]}</p>
                                        <p class="prod-price">
                                            <span class="price-orignal">${x["OriginalPrice"]}</span>
                                            <span class="price-discount">${x["Price"]}</span>
                                        </p>
                                    </section>
                                </div>
                            </li>`)
                        ulProductList.append(liProduct)
                    })
                    $("#productZone").append(ulProductList);
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })
    }
</script>
