@page
@model AliveStoreTemplate.Pages.productModel
@{
    ViewData["Title"] = "product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<article class="page product">
    <div class="content-con">
        @*path 路径*@
        <section class="path" id="pathid">
            <a href="/">HOME</a><a href="category">滑鼠</a><a href="category">Logitech</a>
        </section>
        @*/path 路徑*@
        @*product 产品*@
        <article class="product">
            @*product-photo 产品照片*@
            <section class="product-photo">
                @*<ul class="photo-menu">
                    <li class="active">
                        <img src="img/ill_prod1.png" alt="" />
                    </li>
                </ul>*@
                <figure class="photo-view" id="ProMainImgid">
                    
                </figure>
            </section>
            @*product-info 商品基本資訊*@
            <section class="product-info">
                <div class="info-con">
                    <p class="info-category" id="ProNameid"></p>
                    <h2 class="info-tit" id="ProTitleid"></h2>
                    <p class="info-intro" id="ProSubTitleid"></p>
                    <p class="info-price">
                        <span class="price-orignal" id="ProOrignalid"></span>
                        <span class="price-discount" id="ProDiscountid"></span>
                    </p>
                    
                    @*商品附屬型號資訊*@
                    <section class="forms-basic info-spec">
                        @*<asp:DropDownList ID="ddlSpec" runat="server" ClientIDMode="Static" onchange="setSpecMaxCount(this.options[this.options.selectedIndex].value);" Width="100%">
                        </asp:DropDownList>
                        <asp:HiddenField ID="hfSpecId" ClientIDMode="Static" runat="server" Value="" />*@
                        <select class="ui dropdown" onchange="GetQuantity()" id="OrderPatternSelectid">
                            <option value="">請選擇型號</option>
                        </select>


                        <select class="ui scrolling dropdown" id="OrderNumSelectid">
                            <option value="">請選擇數量</option>
                        </select>
                    </section>
                    
                    <section class="info-action">
                        <button type="button" class="btn-active" onclick="AddProductToCarBySession();">加入購物車</button>
                        <button type="button" class="btn-action" onclick="AddToCart(); window.location='/cart';">立即購買</button>
                    </section>
                    <section class="">
                        <button type="button" class="btn-action" onclick="GetProductFromCarBySession()">取得購物車資料</button>
                    </section>
                </div>
            </section>
            @*product-intro 商品介紹*@
            <section class="product-intro">
                <h3><em>商品介绍</em><span></span></h3>
                <div class="intro-detial">
                    @*<asp:Literal runat="server" ClientIDMode="Static" ID="ltDesc"></asp:Literal>*@
                    <p>文案及規格簡述</p>
                    <p id="ProDescid">
                        
                    </p>
                </div>
            </section>
            @*product-related 相關商品*@
            <section class="product-related" id="RecentProid">
                <h3><em>相關商品</em><span></span></h3>
                
            </section>
        </article>
        @*/product 商品*@
    </div>
</article>

@*<script src="Scripts/jquery.session.js"></script>*@
<script>
    //取得parameter
    let getUrlString = location.href;
    let url = new URL(getUrlString);

    //商店名稱
    var merchantId = "alive"
    //當前商品Id
    var productId = url.searchParams.get('productId')
    //設定顯示最近商品數量
    var size = 6

    $(function(){
        //取得商品基本資料
        GetProductInfoByproductId()

        //取得商品附屬型號
        GetProductSpecByproductId()

        //取得最近商品
        GetRecentProducts()
    })

    //取得商品基本資料
    function GetProductInfoByproductId(){
         $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Product/GetProductById?merchantId=" + merchantId +"&productId=" + productId,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetProductById", response)
                if(response != null){
                    //商品資訊
                    $("#ProMainImgid").html(`<img src="https://n2imageservice.azurewebsites.net/api/images/shopmall/` + response.MainImage + `/1550/0?1644815483672);">`)
                    $("#ProNameid").html(response.Title)
                    $("#ProTitleid").html(response.Title)
                    $("#ProSubTitleid").html(response.SubTitle)
                    $("#ProOrignalid").html(response.OriginalPrice)
                    $("#ProDiscountid").html(response.Price)
                    
                    //轉換特殊符號
                    let str = response.Desc
                    let strNew = response.Desc.replaceAll('&lt;','<').replaceAll('&gt;', '>').replaceAll('&quot;', '"')
                    $("#ProDescid").html(strNew)
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })
    }

    //取得商品附屬型號
    function GetProductSpecByproductId(){
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Product/GetProductSpecByProdId?merchantId=" + merchantId +"&productId=" + productId,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetProductSpecByProdId", response)
                if(response != null){
                    for(var x = 0; x < response.length; x++){
                        //let Option = $(`<option value='{"Type":${x},"Quantity":${response[x].Quantity}'>${response[x].Name}</option>`)
                        let Option = $(`<option value="${response[x].Id},${response[x].Quantity}">${response[x].Name}</option>`)
                        $("#OrderPatternSelectid").append(Option)
                    }
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })
    }

    //換算安插數量
    function GetQuantity(){
        let Quantity = $("#OrderPatternSelectid").val().split(',')[1];

        console.log("剩餘數量", Quantity)
        
        if(Quantity == 0){
            $("#OrderNumSelectid").empty()
            let Option = $(`<option  value="0" >剩餘數量不足</option>`)
            return
        }

        $("#OrderNumSelectid").empty()
        let OrderPatternTitle = $(`<option value="">請選擇數量</option>`)
        $("#OrderNumSelectid").append(OrderPatternTitle)

        for(var x =0; x < Quantity; x++){
            let Option = $(`<option value="${x}">${x}</option>`)
            $("#OrderNumSelectid").append(Option)
        }
    }

    //取得最近商品
    function GetRecentProducts(){
        $.ajax({
            type:"GET",
            url:"https://localhost:44302/api/Product/GetRecentProducts?merchantId=" + merchantId +"&size=" + size,
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上GetRecentProducts", response)
                if(response != null){
                    let ulParent = $(`<ul class="list-related"></ul>`)

                    response.forEach(x =>{
                        let liProduct = $(`
                            <li>
                                <div class="prod">
                                    <a onclick="goProduct()" data-value="${x["Id"]}" class="prod-photo" style="background-image: url(https://n2imageservice.azurewebsites.net/api/images/shopmall/${x["MainImage"]}/1550/0?1644815483672);"></a>
                                    <section class="prod-info">
                                        <p class="prod-name">${x["Title"]}</p>
                                        <p class="prod-price">
                                            <span class="price-orignal">${x["OriginalPrice"]}</span>
                                            <span class="price-discount">${x["Price"]}</span>
                                        </p>
                                    </section>
                                </div>
                            </li>`)
                        ulParent.append(liProduct)
                    })
                    $("#RecentProid").append(ulParent);
                }
            },
            error:function(response){
                console.log("找不到")
            }
        })
    }

    //加入購物車
    function AddProductToCarBySession(){
        var productId = $("#OrderPatternSelectid").val().split(',')[0]
        var orderNum = parseInt($("#OrderNumSelectid").val())
        var price = parseInt($("#ProDiscountid").html())
        
        console.log("加入購物車", productId, orderNum, price)
         
        if(productId == undefined || orderNum == undefined || orderNum <= 0){
            alert("請選擇型號及數量")
        }
        
        $.ajax({
            type:"Post",
            url:"@Url.Action("AddProductToCarBySession","Session")",
            data:JSON.stringify({
                'productId':productId,
                'orderNum':orderNum,
                'price':price
            }),
            processData : false, 
            contentType : 'application/json;charset=UTF-8',
            dataType:"json",
            success:function(response){
                console.log("已連上AddProductToCarBySession, 目前購物車清單", response)
            },
            error:function(response){
                console.log("找不到")
            }
        })
     }
</script>
